@charset "utf-8"

:root{
    --main-bg-color:#10ac84;

}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'montserrar' , sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.border{
    border: 2px solid black;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.main{
    height: 100vh;
    width: 100%;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 10px  30px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index:1;
    background-color: #fff;
    
}
nav ul{
    display: flex;
}
nav ul li a{
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px; 22px;
}