@charset "utf-8";

:root {
    --main-bg-color: #10ac84;
    --black-color: #000;
    --white-main-color: #fff;
    --dark-gray-color: #1e272e;
    --light-gray-color: #747474;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.border {
    border: 2px solid black;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#main {
    width: 100%;
    height: 100vh;
    /* vh = view-height */
    position: relative;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.02);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--white-main-color);
}

nav ul {
    display: flex;
}

nav ul li a {
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    text-transform: uppercase;
    font-weight: 500;
    color: #585b55;
    letter-spacing: 1px;
    font-size: 0.8em;
}

nav ul li a:hover {
    background-color: var(--main-bg-color);
    color: #fff;
    border-radius: 5px;
}

.get-in-touch {
    color: var(--dark-gray-color);
    font-weight: 500;
    font-size: 0.9em;
    border-bottom: 2px solid var(--main-bg-color);
}

.logo-heading {
    font-weight: 300;
    font-size: 1.5rem;
    color: var(--black-color);
}

.name {
    font-weight: 800;
    text-decoration: underline;
    text-decoration-color: var(--main-bg-color);
}

nav .menu-btn, nav .menu-icon {
    display: none
}

/* Content */
.content {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); 
}

.model {
    height: 500px;
    width: 500px;
}

.model img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main-text {
    width: 500px
}

.main-text h1 {
    font-size: 3.5em;
    margin: 0px 0px 10px 0px;
    line-height: 60px;
}

.main-text p {
    color: var(--light-gray-color);
}

.portfolio-button {
    width: 190px;
    height: 44px;
    display: grid;
    place-items: center;
    color: var(--white-main-color);
    background-color: var(--main-bg-color);
    border-radius: 5px;
}